body {
  // font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  //   monospace;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.content-wrap {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.playerlist-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
}

.player-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 8px;
  border-radius: 5px;
  margin: 20px;
  transition: transform 0.3s ease; /* Add this line for smooth scaling */
}

.player-card:hover {
  transform: scale(1.1); /* Scale the element to 110% when hovered */
}

.player-properties {
  font-size: 12px;
}

.add-player {
  font-size: 20px;
  margin: 5px;
}

.form {
  margin: 5px;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}

.age-slider {
  width: 200px; /* Adjust as needed */
  margin: 0 10px;
}

.age-values {
  display: flex;
  justify-content: space-between;
  width: 100px;
  font-size: 12px;
}

.input-row label {
  margin-right: 10px;
  width: 140px;
  text-align: right;
}

.input-field,
.rating-input-field {
  width: 80px;
  padding: 5px;
}

.select-field {
  width: 120px;
  padding: 5px;
}

.add-button {
  border: none;
  background-color: rgb(188, 232, 188);
  width: 25px;
  height: 25px;
  border-radius: 5%;
  box-shadow: 2px 2px rgb(49, 63, 49);
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add this line for smooth scaling */
}

.add-button:hover {
  background-color: rgb(93, 222, 93);
  transform: scale(1.1); /* Scale the element to 110% when hovered */
}

.add-value-button {
  border: none;
  background-color: rgb(188, 232, 188);
  width: 15px;
  height: 18px;
  border-radius: 5%;
  box-shadow: 2px 2px rgb(49, 63, 49);
  cursor: pointer;
  margin: 3px;
  margin-top: 1px;
  padding-right: 12px;
}

// .content-wrap-left {
//   flex: 1;
//   padding: 20px;
//   border-right: 2px solid #ccc; /* Add a border if you like */
//   min-width: 250px; /* Set a minimum width */
//   background-color: #f4f4f4; /* Background color for the sidebar */
// }

// .content-wrap-right {
//   width: 50%;
//   padding-left: 20px;
//   border-left: 0.5px solid;
// }

// .content-wrap-right {
//   flex: 3;
//   padding: 20px;
// }

.button-row {
  margin: 2px;
}

.delete-button {
  margin: 4px;
  border: none;
  background-color: rgb(232, 188, 188);
  width: 20px;
  height: 20px;
  border-radius: 5%;
  box-shadow: 2px 2px rgb(49, 63, 49);
  margin-bottom: 4px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add this line for smooth scaling */
}

.delete-button:hover {
  background-color: rgb(255, 50, 50);
  transform: scale(1.1); /* Scale the element to 110% when hovered */
}

.delete-player-button {
  margin: 4px;
  border: none;
  background-color: rgb(232, 188, 188);
  width: auto;
  height: 20px;
  border-radius: 5%;
  box-shadow: 2px 2px rgb(49, 63, 49);
  margin-bottom: 4px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add this line for smooth scaling */
}

.delete-player-button:hover {
  background-color: rgb(255, 50, 50);
  transform: scale(1.1); /* Scale the element to 110% when hovered */
}

.update-button {
  margin-top: 4px;
  border: none;
  background-color: rgb(178, 224, 224);
  height: 20px;
  border-radius: 5%;
  box-shadow: 2px 2px rgb(49, 63, 49);
  margin-bottom: 4px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add this line for smooth scaling */
}

.update-button:hover {
  background-color: rgb(76, 210, 210);
  transform: scale(1.1); /* Scale the element to 110% when hovered */
}

.filter-container {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.delete-all-button {
  margin: 4px;
  border: none;
  background-color: rgb(253, 235, 235);
  height: 20px;
  border-radius: 5%;
  box-shadow: 2px 2px rgb(49, 63, 49);
  margin-bottom: 4px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add this line for smooth scaling */
}

.delete-all-button:hover {
  background-color: rgb(255, 50, 50);
  transform: scale(1.1); /* Scale the element to 110% when hovered */
}

.canvas {
  background-color: rgb(164, 255, 164);
}

.add-property-button {
  border: none;
  background-color: rgb(188, 232, 188);
  width: 15px;
  height: 15px;
  border-radius: 5%;
  box-shadow: 2px 2px rgb(49, 63, 49);
  margin: 3px;
  margin-top: 5px;
  padding: 2px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add this line for smooth scaling */
}

.add-property-button:hover {
  background-color: rgb(93, 222, 93);
  transform: scale(1.1); /* Scale the element to 110% when hovered */
}

.property-form {
  margin: 2px;
  width: 30px;
}

.delete-property-button {
  border: none;
  background-color: rgb(232, 188, 188);
  width: 15px;
  height: 15px;
  border-radius: 5%;
  box-shadow: 2px 2px rgb(49, 63, 49);
  margin-top: 5px;
  margin: 3px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add this line for smooth scaling */
}

.delete-property-button:hover {
  background-color: rgb(255, 50, 50);
  transform: scale(1.1); /* Scale the element to 110% when hovered */
}

.red-background {
  background-color: rgb(255, 120, 120);
}

.green-background {
  background-color: rgb(161, 248, 161);
}

.status {
  font-size: 12px;
}

.bulge {
  transition: transform 0.3s ease; /* Add this line for smooth scaling */
}

.bulge:hover {
  transform: scale(1.1); /* Scale the element to 110% when hovered */
}

.player-property{
  padding-top: 5px;
}