.navbar-container {
    border-radius: 10px;
    margin-bottom: 20px;
}

.nav-link{
    text-decoration: none;
    color: rgb(58, 130, 255);
    padding: 5px;
    margin: 5px;
}

.nav-link:hover{
    color: purple;
}