.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid;
  width: 175px;
  height: 100vh;
  padding: 10px;
  padding-top: 20px; /* Adjust this value according to your design */
}

.formation-dropdown,
.formation-button,
.player-dropdown {
  margin: 5px;
  cursor: pointer;
  width: 150px;
}

.formation-input {
  margin: 5px;
  cursor: auto;
  width: 140px;
}

.formation-button,
.add-players-button,
.save-formation-button {
  border: none;
  background-color: rgb(188, 232, 188);
  width: 150px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(49, 63, 49);
  margin: 3px;
  margin-top: 5px;
  padding: 2px;
  cursor: pointer;
}

.formation-button:hover,
.add-players-button:hover,
.save-formation-button:hover {
  background-color: rgb(93, 222, 93);
}
